<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <div class="sidebar-item">
		<p><a href="https://lindsaythomas.net/eng612s22/">Home</a></p>
		<p><a href="https://lindsaythomas.net/eng612s22/policies/">Policies</a></p>
    <p><a href="https://lindsaythomas.net/eng612s22/grading/">Consultative Grading</a>
	  <p><a href="https://lindsaythomas.net/eng612s22/reading-participation/">Reading and Participation</a>
    <p><a href="https://lindsaythomas.net/eng612s22/lab-notebook/">Lab Notebook</a>
		  	<ul>
			<li><a href="https://lindsaythomas.net/eng612s22/labs/lab-1">Lab 1</a></li>
			<li><a href="https://lindsaythomas.net/eng612s22/labs/lab-2">Lab 2</a></li>
			<li><a href="https://lindsaythomas.net/eng612s22/labs/lab-3">Lab 3</a></li>
		  <li><a href="https://lindsaythomas.net/eng612s22/labs/lab-4">Lab 4</a></li>
      <li><a href="https://lindsaythomas.net/eng612s22/labs/lab-5">Lab 5</a></li>
      <li><a href="https://lindsaythomas.net/eng612s22/labs/lab-6">Lab 6</a></li>
			</ul>
			</p>
      <p><a href="https://lindsaythomas.net/eng612s22/final-project/">Final Project</a></p>
			<p><a href="https://lindsaythomas.net/eng612s22/schedule/">Schedule</a></p>
      <p><a href="https://lindsaythomas.net/eng612s22/additional-readings/">Additional Readings</a></p>
  </div>


<!--
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="https://github.com/lcthomas/eng612s22/tree/gh-pages" target="_blank">Source</a>
  </nav>
  -->

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY 4.0</a>.
    </p>
  </div>
</div>
